.product-card {
    margin-bottom: 30px;
    width: auto;
    height: auto;
    background-color: #EDEDED;
    border-radius: 10px;
}

.card-top-container {
    text-align: center;
    padding: 16px 0;
}

.card-top-container img {
    width: 205px;
    height: auto;
}

.card-bottom-container {
    padding: 15px 20px 30px 20px;
}

.card-bottom-container h6 {
    font-size: 18px;
    color: #263238;
    padding-bottom: 10px;
    text-align: center;
}

.card-bottom-container p {
    font-style: italic;
    color: #585858;
    font-size: 14px;
}

.button {
    color: #FFF;
    background-color: #00285F;
    text-align: center;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    margin: 0px 10px;
}

.button p {
    padding: 8px;
    font-style: normal;
    color: #FFF;
}
